/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.page {
	@apply min-h-full px-8 py-16 md:px-40 md:py-20 bg-gradient-to-b from-primary to-secondary;
}

@keyframes rainbow {
	from {
		filter: hue-rotate(0deg);
	}
	to {
		filter: hue-rotate(360deg);
	}
}

.rainbow:hover {
	color: red;
	animation: rainbow 3s infinite alternate;
	-webkit-animation: rainbow 3s infinite alternate;
}
